<div th:text="${cinemaName}"></div>
<table>
    <tr th:each="s : ${schedules}">
    	<td th:text="${s.movie.name}"></td>
        <td th:text="${s.dateTime}"></td>
        <td th:text="${s.auditorium.name}"></td>
        <td th:text="${s.auditorium.seatsPerRow}"></td>
    </tr>
</table>
