@charset "UTF-8";

/* Index page */
.image-full, .rounded {
	width: 100% !important;
}

.main-container-index {
	min-height: 80vh;
	padding:0;'
}

.overlay-banner {
	text-align: center;
	position: absolute;
	left: 0;
	top: calc(100% - 200px);
	max-width: 100%;
	max-height: 200px;
	min-width: 100%;
	min-height: 200px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}

.image-banner {
	padding: 0;
	margin: 0 ;
}

body {
	padding: 0;
	margin: 0;
	overflow-x:hidden;
}

#navbar {
	position: absolute;
	top: 0px;
	width: 100%;
}

.navbar-default {
		background-color: #3D3D3D;
	    border-color: #3D3D3D;
	    position: absolute;
	    z-index: 3;
	    width: 100%;
	    border-radius: 0;
	    

}

footer {
	background-color: #3D3D3D;
	border-color: #3D3D3D;
	color: white;
	margin-top:50px;
}

.cinema-list-heading {
	text-align: center;
	padding-top: 40px;
}

.mb-4 {
	text-align: center;
}

.btn-cinemas {
	background-color: lightblue;
	width: 50%;
	font-size: 25px;
}

/* ScreeningController */
.screening-layout-container {
	padding: 5rem 10rem 0;
}

.seat-selector {
	text-align: center;
	padding-top: 40px;
}

.seats-row {
	text-align: center;
	clear: both;
	line-height: normal;
}

.seat {
	width: 2.3rem;
	height: 2.3rem;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 0.5rem;
	background-color: rgb(232, 232, 232);
	display: inline-block;
}

.seat:hover {
	background-color: rgba(255, 80, 80, 0.5);
}

.seat-occupied, .seat-occupied:hover {
	background-color: rgb(128, 128, 128) !important;
}

.seat-selected, .seat-selected:hover {
	background-color: rgb(255, 80, 80) !important;
}

.screen {
	width: 50%;
	border: 1px solid rgb(200, 200, 200);
	color: rgb(128, 128, 128);
	text-align: center;
	display: inline-block;
	height: 2rem;
	margin-top: 5rem;
	text-transform: uppercase;
}

#seats-selected, #purchase-details {
	margin-top: 5rem;
	width: 30%;
	clear: both;
}

#seats-selected {
	float: right;
}

#seats-selected td, #purchase-details td {
	padding: 0.1rem;
}

#seats-selected-summary td:first-child {
	padding-right: 0.5rem;
}

/* Admin page */
.admin-container {
	margin-top: 0px;
	margin-left: 0;
	padding: 0 !important;
}


.admin-left-menu {
	background-color: #3D3D3D;
	min-height: 100vh;
	padding: 0 !important;
	margin: 0;
	margin-top: 50px;
}

.admin-content {
	min-height: 100vh;
	padding: 15px;
	margin-top: 50px;
	color: #3D3D3D;
}
.admin-form{
	margin:auto;
}

.admin-left-menu a {
	color: white !important;
	width: 100%;
	line-height: 50px;
	text-align: center;
	display: inherit;
}

.admin-left-menu .active {
	background-color: white;
	color: #3D3D3D !important;
}

.admin-left-menu a:hover {
	background-color: #666;
	color: #3D3D3D !important;
}

.admin-left-menu .active:hover {
	background-color: white;
}

.hidden-link {
	display: none;
}

.disabled {
	background-color: #d1d1d1 !important;
	color: gray !important;
}
.disabled-row, .disabled-row:hover{
	background-color:#ddd !important;
	color: gray !important;
}

/* cinema  */
.container-gray {
	background-color: #29292a;
	width: 80%;
	margin: 10px 10% 30px;
	border-radius: 6%;
	border: 20px solid rgba(0, 0, 0, .5);
	background-clip: padding-box;
}

.text-managment {
	color: white;
	margin-top: 2%;
	text-align: center;
	padding: 3%;
	font-family: Lucida Console;
}

.cinema-img {
	width: 60%;
	border: 10px solid #4c0000;
	border-radius: 15%;
}

.image-full {
	width: 100%;
}

.main-container {
	min-height: 80vh;
	padding: 5rem 10rem 0;
}

#navbar {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cinema-title {
	color: #b30000;
	margin-top: 2%;
	text-align: center;
	padding: 2%;
	font-size: 50px;
	font-family: Arial;
	font-style: bold;
}

.pattern-background {
	background-image: url("/img/pattern.jpg");
	/* 	filter: brightness(50%); */
}

.cinema-btn {
	background-color: #ffffff;
	width: 25%;
	font-size: 25px;
}

/* Errors page */
.error-container {
	padding: 10rem;
}

.error-container .err404::before {
	content: '\26F3\00A0\00A0';
}

.error-container .err409::before {
	content: '\1f915\00A0\00A0';
}

.error-container .err500::before {
	content: '\2639\00A0\00A0';
}
