<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header :: head"></head>

  <body>

    <!-- Navigation -->
    <nav th:replace="fragments/nav :: navbar">
    
    </nav>

    <!-- Page Content -->
    <div class="container-fluid admin-container">
    
    <div th:replace="fragments/admin/adminMenu :: adminMenu">
      
    </div>
    
    <div class ="admin-content col-lg-10">
		<form action="#"
		th:action="${data == null}?@{/admin/auditoriums/new}:@{'/admin/auditoriums/edit/' + ${data.id}}"
		th:object="${auditoriumForm}" method="post">
		<span th:text="${errorMessage}"></span>
		<table class ="admin-form">
			<tr>
				<td>Name:</td>
				<td><input type="text" th:field="*{name}"
					th:value="${data != null}?${name}:''" /></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
					Error</td>
			</tr>
			<tr>
				<td>Cinemas</td>
				<td>
					<select th:field="*{cinemaId}">
						<option th:each="cinema : ${cinemas}" th:value="${cinema.id}"
							th:text="${cinema.name}"> </option>
						</th>
					</select>
				</td>
				<td th:if="${#fields.hasErrors('cinemaId')}" th:errors="*{cinemaId}">Cinema ID Error</td>
			</tr>
			<tr>
				<td>Rows:</td>
				<td><input type="number" maxlength="2" th:field="*{rows}"
					th:value="${data != null}?${rows}:''" /></td>
				<td th:if="${#fields.hasErrors('rows')}" th:errors="*{rows}">ROw
					Number Error</td>
			</tr>
			<tr>
				<td>Columns:</td>
				<td><input type="number" maxlength="2"
					th:field="*{seatsPerRow}"
					th:text="${data != null}?${seatsPerRow}:''" /></td>
				<td th:if="${#fields.hasErrors('seatsPerRow')}"
					th:errors="*{seatsPerRow}">Column Number Error</td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
    	 
    	
    </div>
    </div>
	
	<footer th:replace="fragments/footer :: footer"></footer>
  </body>
  <script>


$('.disabled').click(function(){
    return false;
});


</script>

</html>




