<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header :: head"></head>

  <body>

    <!-- Navigation -->
    <nav th:replace="fragments/nav :: navbar">
    
    </nav>

    <!-- Page Content -->
    <div class="container-fluid admin-container">
    
    <div th:replace="fragments/admin/adminMenu :: adminMenu">
      
    </div>
    
    <div class ="admin-content col-lg-10">
		<form action="#" th:action="@{/admin/schedules/new}"
		th:object="${scheduleForm}" method="post">
		<span th:text="${errorMessage}"></span>
		<table class ="admin-form">
           	<tr>
                   <td>Date</td>
                   <td><input type="date" th:field="*{date}" th:value="${data != null}?${date}:''" /></td>
                   <td th:if="${#fields.hasErrors('date')}"  th:errors="*{date}">Date Error</td>
               </tr>
               <tr>
                   <td>Time From</td>
                   <td><input type="time" th:field="*{timeFrom}" th:value="${data != null}?${timeFrom}:''" /></td>
                   <td th:if="${#fields.hasErrors('timeFrom')}" th:errors="*{timeFrom}">TIme from Error</td>
               </tr>
                <tr>
                   <td>Time To</td>
                   <td><input type="time" th:field="*{timeTo}" th:value="${data != null}?${timeTo}:''" /></td>
                   <td th:if="${#fields.hasErrors('timeTo')}" th:errors="*{timeTo}">TIme from Error</td>
               </tr>
			<tr>
				<td>Cinemas</td>
				<td><select th:field="*{cinemaID}">
				<option value="0" selected>-- default--</option>
						<option th:each="cinema : ${cinemas}" th:value="${cinema.id}"
							th:text="${cinema.name}"></option>
				</select></td>
				<td th:if="${#fields.hasErrors('cinemaID')}" th:errors="*{cinemaID}">Cinema
					ID Error</td>
			</tr>
			<tr>
				<td>Auditoriums</td>
				<td><select th:field="*{auditoriumID}">
					
				</select></td>
			</tr>
			<tr>
				<td>Movies</td>
				<td><select th:field="*{movieID}" th:value="${data != null}?${movieID}:''">
						<option th:each="movie : ${movies}" th:value="${movie.id}"
							th:text="${movie.name}"></option>
				</select></td>
				<td th:if="${#fields.hasErrors('movieID')}" th:errors="*{movieID}">Cinema
					ID Error</td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
    	
    </div>
    </div>
	
	<footer th:replace="fragments/footer :: footer"></footer>
  </body>
  <script>
  $('#cinemaID').change(
	        function() {
	            $.getJSON("http://localhost:8080/admin/schedules/cinema/" + this.value, {
	                id : $(this).val(),
	                ajax : 'true'
	            }, function(data) {
	            	console.log(data.length);
	            	var html;
	            	if(Object.keys(data).length == 0){
	            		html += '<option value="" selected>-- no auditoriums--</option>';
	            		
	            	}
	            	else{
	            		html = "";
	            		
	            	}
	                	
	                var len = data.length;
	                for ( var i = 0; i < len; i++) {
	                    html += '<option value="' + data[i].id + '">'
	                            + data[i].name + '</option>';
	                }
	                html += '</option>';
	                $('#auditoriumID').html(html);
	            });
	        });

$('.disabled').click(function(){
    return false;
});


</script>

</html>






