<div class="row" th:fragment="banner">
        <div class="col-lg-12 image-banner">
          <img class="img-fluid rounded image-full" th:src="@{/img/cinema.jpg}"/ width="100%" alt="">
           <div class="col-lg-4 pull-right overlay-banner">
	          <h1>Our bootcamp project</h1>
	          <p>
	          	If only I were a little better at coming up with placeholder information
	          </p>
	          <a class="btn btn-primary btn-lg" href="#">Maybe we'll need this</a>
	        </div>
        </div>
      </div>