<div class = "admin-left-menu col-lg-2" th:fragment="adminMenu">
    	
    	<a href="/admin/dashboard/1" class="" th:classappend="${active == 'dashboard'} ? active : ''"  >
    		Dashboard
    	</a>
    	
    	<a href="/admin/auditoriums/1" class="" th:classappend="${active == 'auditoriums'} ? active : ''">
    		Auditoriums
    	</a>
    	<a href="/admin/cinemas/1" class="" th:classappend="${active == 'cinemas'} ? active : ''">
    		Cinemas
    	</a>
    	<a href="/admin/movies/1" class="" th:classappend="${active == 'movies'} ? active : ''">
    		Movies
    	</a>
    	<a href="/admin/purchases/1" class="" th:classappend="${active == 'purchases'} ? active : ''">
    		Purchases
    	</a>
    	<a href="/admin/schedules/1" class="" th:classappend="${active == 'schedules'} ? active : ''">
    		Schedules
    	</a>
    	<a href="/admin/users/1" class="" th:classappend="${active == 'users'} ? active : ''">
    		Users
    	</a>

    </div>