<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head">

</head>
<style>
.image-full {
	width: 100%;
}

.main-container {
	min-height: 80vh;
	padding: 5rem 10rem 0;
}
#navbar {
	position: absolute;
	top: 0px;
	width: 100%;
}

.navbar-default {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	position: absolute;
	z-index: 3;
	width: 100%;
	border-radius: 0;
}

</style>


<body>

	<!-- Navigation -->
	<nav th:replace="fragments/nav :: navbar"></nav>

	<!-- Page Content -->
	<div class="container-fluid main-container">


		<h2 class="movie-title" th:text="${movieName}"></h2>
		
		<h2>ABOUT MOVIE</h2>
		<div class="movie-description">
			<p th:text="${movieDescription}"></p>
		</div>
		<div class="movie-poster">
			<p th:text="${moviePoster}"></p>
		</div>
		
		
		
		<!--  <iframe width="800" height="450" th:src="'https://www.youtube.com/embed/'+${movieTrailer}" align="middle"></iframe>-->
		<iframe width="800" height="450" th:src="${movieTrailer}" align="middle"></iframe>
		
		
		
		
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>