<nav class="navbar navbar-default" th:fragment="navbar">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Generic cinema</a>
	    </div>
	    <ul class="nav navbar-nav pull-right">
	      <li class="active pull-right"><a href="/login">Login</a></li>
	    </ul>
	  </div>
	</nav>