<!DOCTYPE html>

<html>
<head th:replace="fragments/header :: head">
</head>
<body>

<nav th:replace="fragments/nav :: navbar">
</nav>

	<div class ="pattern-background">
	
	
	<div class="container-fluid main-container">
	
	
	
	
	<div class ="container-gray">
	
	
	<div class ="text-managment">
	
	<h2 class ="cinema-title" th:text="'Cinema ' + ${cinema.name} + ' in ' + ${cinema.city} + ', ' + ${cinema.address} + '.'"></h2> 

	<img class="cinema-img" th:src="@{/img/} + cinema.jpg"></img>

	
		<h3> Movies</h3>
		<table style="margin: auto;">
		    <tr th:each="m : ${moviesInCinema}">
		 		
					<td>
		    	  		<a th:href="'/cinema/' + ${cinemaId}+'/movie/'+${m.id}" th:text="${m.name}"></a>
		    	  	</td> 
		    </tr>
		</table>
	
	
		<h3 class="schedule" th:text="Schedule"></h3>
		<table class = "table">
		
			<tr>
		      	<th scope="col">Movie Name</th>
		      	<th scope="col">From</th>
		      	<th scope="col">To</th>
		      	<th scope="col">Auditorium</th>
		      	<!--  <th scope="col">Auditorium seats</th>-->
		      	<th scope="col">Buy Ticket</th>
		    </tr>
		
		
		
		    <tr th:each="s : ${schedules}">
		    	
		    	<!-- <td th:text="${s.movie.name}"></td> -->
		    	<td>
		    	  		<a th:href="'/cinema/' + ${cinemaId}+'/movie/'+${s.movie.id}" th:text="${s.movie.name}"></a>
		    	  	</td> 
		    	
		        <td th:text="${s.timeFrom}"></td>
		        <td th:text="${s.timeTo}"></td>
		        <td th:text="${s.auditorium.name}"></td>
		        <!--  <td th:text="${s.auditorium.seatsPerRow} + seats"></td>-->
		        
		        <td>
		        	<a th:href="'/cinema/' + ${cinemaId}+'/screening/'+${s.id}">
		        		<button class="btn btn-primary">Buy Ticket</button>
		        	</a>
		        </td>
		        
		    </tr>
		</table>
	
</div>







	

		<footer th:replace="fragments/footer :: footer"></footer>
	</div>

</body>
</html>
