<!DOCTYPE html>
<html> <!-- lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"> -->
<head th:replace="fragments/header :: head">
</head>
<body>
	
	<nav th:replace="fragments/nav :: navbar">
	</nav>

	
	<div class="container-fluid main-container">

	<form th:action="@{/login}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
	</form>	
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<h2 class="form-signin-heading" th:text="Registration"></h2>
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label>
						<input type="text" th:field="*{name}" placeholder="Name"
								class="form-control" /> 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{email}" placeholder="Email"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:field="*{password}"
								placeholder="Password" class="form-control" /> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Register User</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
				</form>
			</div>
		</div>
	</div>
	
</div>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>









<!--  <html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 16px;
    background-color: white;
    width:500px;
    margin: auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

button:hover {
    opacity: 0.8;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


</style>

</head>
    <body>
        <form action="#" th:action="@{/user/registration}" th:object="${user}" method="post">
          <div class="container">
          	<h1>Register</h1>
          	<p>Please fill in this form to create account</p>
          	<hr>

                    <label for="Name"><b>Name</b></label>
                    <input type="text" placeholder="Enter name"
                    name="name" th:field="*{name}" />

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter email" 
                    name="email" th:field="*{email}" />

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter password" 
                    name="psw" th:field="*{password}" />

                    <button type="submit" class="registerbtn">Register</button>
                    
			</hr>
          </div>
    	<!--  <div class="container" style="background-color:#f1f1f1">
        		<button type="button" class="cancelbtn">Cancel</button>
    		</div> -->	
        </form>
    </body>
</html> -->


