<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header :: head"></head>

<body>

	<!-- Navigation -->
	<nav th:replace="fragments/nav :: navbar"></nav>

	<!-- Page Content -->
	<div class="container-fluid main-container screening-layout-container">

		<h1 th:text="${movieName}"></h1>

		<h3 th:text="${dateTime}"></h3>

		<div class="seat-selector">
			<h4>Please choose your seat</h4>
			<div th:each="rowLayout : ${auditoriumLayout}" class="seats-row">
				<div th:each="seat : ${rowLayout}" class="seat"
					th:classappend="${seat.occupied} ? seat-occupied"
					th:data-row="${seat.rowNum}" th:data-seat="${seat.seatNum}" th:data-seatprice="${seat.price}"
					th:title="${seat.occupied} ? '' : ${'Row ' + seat.rowNum + ', seat ' + seat.seatNum}"></div>
			</div>
			<div class="screen">Screen</div>
		</div>
		<form id="reservationForm" action="#" th:object="${purchaseForm}" th:action="@{/purchase/pay/init}" method="post">
		<input type="hidden" th:field="*{scheduleId}" th:value="${scheduleId}" />
		<table id="seats-selected" style="display: none">
			<tr><th>Row</th><th>Seat</th><th>Price</th></tr>
			<tr id="seats-selected-summary"><td colspan="2" class="text-right"><a href="#" class="btn btn-primary" onclick="$('#reservationForm').submit();">Pay</a></td><td id="totalPrice"></td></tr>
		</table>
		<div id="reservationFormHiddenInputs"></div>
		</form>
		<script>
			var totalPrice = 0,
				$seatsSelected = $('#seats-selected'),
				$reservationFormHiddenInputs = $('#reservationFormHiddenInputs'),
				reservedSeats = [];
			$('.seat').click(function() {
				if (!$(this).is('.seat-occupied')) {
					var row = $(this).attr('data-row'),
						seat = $(this).attr('data-seat'),
						seatPrice = parseInt($(this).attr('data-seatprice'));
					if ($(this).is('.seat-selected')) {
						$(this).removeClass('seat-selected');
						var ind = reservedSeats.findIndex(o => {return (o.row === row && o.seat === seat);})
						reservedSeats.splice(ind, 1);
						$('#seat-' + row + '-' + seat).remove();
						totalPrice -= seatPrice;
					} else {
						$(this).addClass('seat-selected');
						reservedSeats.push({row: row, seat: seat});
						$('#seats-selected-summary').before('<tr id="seat-' + row + '-' + seat + '"><td>' + row + '</td><td>' + seat + '</td><td>' + seatPrice.toLocaleString('lv-LV', { style: 'currency', currency: 'EUR' }) + '</td></tr>');
						totalPrice += seatPrice;
					}
					$('#totalPrice').html(totalPrice.toLocaleString('lv-LV', { style: 'currency', currency: 'EUR' }));
					if (totalPrice > 0) {
						if (!$seatsSelected.is(':visible')) {
							$seatsSelected.show();
						}
						var inputHtml = '';
						for (var i = 0; i < reservedSeats.length; i++) {
							inputHtml += '<input type="hidden" name="seats[' + i + '].rowNum" value="' + reservedSeats[i].row + '" /><input type="hidden" name="seats[' + i + '].seatNum" value="' + reservedSeats[i].seat + '" />'
						}
						$reservationFormHiddenInputs.html(inputHtml);
					} else {
						$reservationFormHiddenInputs.html('');
						$seatsSelected.hide();
					}
				}
			})
		</script>

	</div>

	<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>
