<table id="purchase-details" th:fragment="purchase-details">
	<tr>
		<th>Row</th>
		<th>Seat</th>
		<th>Price</th>
	</tr>
	<tr th:each="seat : ${purchase.seats}">
		<td th:text="${seat.rowNum}"></td>
		<td th:text="${seat.seatNum}"></td>
		<td th:text="${seat.priceFormatted}"></td>
	</tr>
	<tr>
		<td colspan="2" class="text-right"><span th:if="${purchaseStatus == 'r'}">Not paid yet - </span><a href="#"
			class="btn btn-primary" onclick="$('#paymentForm').submit();"
			th:if="${purchaseStatus == 'r'}">Pay now</a></td>
		<td th:text="${purchase.totalAmountFormatted}"></td>
	</tr>
</table>